.navbar {
  margin: 0px;
  padding: 0px;
  background-color: #582999;
  min-height: 50px;
}

.imgS {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
}

.nav-link, .navbar-toggler-icon {
  color:white !important;
}

