

<nav class="navbar navbar-dark navbar-expand-md color-white">
  <img src="../../../assets/img/header2.png" class="imgS">
  <div class="container-fluid text-letf">
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" routerLink="/home" href="#">Inicio</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" routerLink="/ranking" href="#">Ranking</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" routerLink="/infomemes" href="#">Infomemes</a>
              </li>
          </ul>
      </div>
    </div>
</nav>


<div class="container mt-2">

<div class="row">
  <div class="col text-right">
      <button type="button" id="contraste"><i class="fa fa-adjust fa-1x p-2 "></i></button>
      <button type="button" id="font-dis" class="font-weight-bold height-20 p-1 mr-2 ml-2">A-</button>
      <button type="button" id="font-aut" class="font-weight-bold p-1  mr-2">A+</button>
  </div>

</div>
</div>
