<!--<nav class="navbar navbar-expang-lg navbar">
  <img src="../../../assets/img/header.jpg" class="img-fluid imgS">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-primary"></span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLink="/home" href="#">Inicio</li>
        <li class="nav-item" routerLink="/ranking" href="#">Ranking</li>
        <li class="nav-item" routerLink="/infomemes" href="#">Infomemes</li>
      </ul>
    </div>
  </div>
  </button>
</nav>-->

<nav class="navbar navbar-light navbar-expand-md ">
  <img src="../../../assets/img/header.jpg" class="img-fluid imgS">
  <div class="container-fluid">
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" routerLink="/home" href="#">Inicio</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" routerLink="/ranking" href="#">Ranking</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" routerLink="/infomemes" href="#">Infomemes</a>
              </li>
          </ul>
      </div>
    </div>
</nav>
<br/>
