<nav class="navbar navbar-expang-lg navbar">
  <img src="../../../assets/img/header.jpg" class="img-fluid imgS">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-danger"></span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end"><!--agregado-->
      <ul class="navbar-nav mr-auto"><!--sacar mr auto-->
        <li class="nav-item" routerLink="/home" href="#">Inicio</li>
        <li class="nav-item" routerLink="/ranking" href="#">Ranking</li>
        <li class="nav-item" routerLink="/infomemes" href="#">Infomemes</li>
      </ul>
    </div>
  </div>
  </button>
</nav>
