
.container-heart{
  margin: 15px;
}

.heart-icon {
    height: 86px; 
    width: 106px;
    margin-right: 5px;
}

.trivia-question {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
}

.trivia-explanation {
    font-family: 'Roboto', sans-serif;
}

.btn-true, .btn-false {
    text-align: center; 
    padding: 45px;
    height: 196px;
    width: 375px;
    font-family: 'Roboto', sans-serif;;
    font-size: 43px;
    color: white;
}

.btn-true {
    background-color: #ec8213;
    -webkit-border-bottom-left-radius: 250px;
    -moz-border-radius-bottomleft: 250px;
    border-bottom-left-radius: 143px; 
    
    

}

.btn-false {
    background-color: #72BAEC;
    -webkit-border-bottom-right-radius: 250px; 
    -moz-border-radius-bottomright: 250px; 
    border-bottom-right-radius: 143px;
}

.question-text {
    height: 300px;
    color: white;
    background-color: #582999;
    padding: 53px;
    font-size: 43px;
}

.btn-container {
    justify-content: space-between;
    padding: 0px;
    margin-top: 88px;
}