<div class="container-fluid">
    <div class="container">
        <div class="container d-flex flex-column trivia-question">
            <div class="container-heart">
              <div class="row">
                <div class="col" *ngFor="let item of [].constructor(lives); let i = index">
                  <img class="heart-icon img-fluid"
                  src="../../../assets/img/heart.svg"  alt="corazón">
                </div>
              </div>
            </div>
            <h4>{{currentStepIndex}}
            </h4>
            <h3 class="question-text">{{trivia.question}}</h3>
            <div class="container-fluid d-flex flex-row btn-container mt-3">
                <button class="btn btn-true col-5" (click)="answer(true)">Verdadero</button>
                <button class="btn btn-false col-5" (click)="answer(false)">Falso</button>
            </div>
        </div>
    </div>
</div>
