
.trivia-question {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
}

.trivia-explanation {
    font-family: 'Roboto', sans-serif;
}

.btn-true, .btn-false {
    text-align: center;
    font-family: 'Roboto', sans-serif;;
    font-size: 20px;
    color: white;
    min-height: 80px;

}

.btn-true {
    background-color: #72BAEC;
    -webkit-border-bottom-left-radius: 250px;
    -moz-border-radius-bottomleft: 250px;
    border-bottom-left-radius: 143px;
}

.btn-false {
    background-color: #ec8213;
    -webkit-border-bottom-right-radius: 250px;
    -moz-border-radius-bottomright: 250px;
    border-bottom-right-radius: 143px;
}

.question-text {
    color: white;
    background-color: #582999;
    padding: 53px;
    font-size: 1.5em;
}

.btn-container {
    justify-content: space-between;
    padding: 0px;
}
