<h1>Infomemes</h1>
<div>
<div class="text-center"><img src="../../../assets/img/comic.jpeg" alt="Responsive image" class="img-fluid"></div><br>
<div class="text-center"><img src="../../../assets/img/paciente.jpeg" alt="Responsive image" class="img-fluid"></div><br>
<div class="text-center"><img src="../../../assets/img/pareja.jpg" alt="Responsive image" class="img-fluid"></div><br>
<div class="text-center"><img src="../../../assets/img/perros.jpg" alt="Responsive image" class="img-fluid"></div><br>
<div class="text-center"><img src="../../../assets/img/sanfelipejpg.jpg" alt="Responsive image" class="img-fluid"></div><br>
<div class="text-center"><img src="../../../assets/img/trump.jpg" alt="Responsive image" class="img-fluid"></div><br>
<div class="text-center"><img src="../../../assets/img/batman.jpg" alt="Responsive image" class="img-fluid"></div><br>
<div class="text-center"><img src="../../../assets/img/darthVader.jpg" alt="Responsive image" class="img-fluid"></div><br>
</div>


