<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">El que la sigue la consigue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Es una plataforma web para jóvenes y adultos que otorga información de manera lúdica, con el propósito de educar a los usuarios a diferenciar entre información falsa o verdadera y ser un aporte en esta lucha contra el Covid-19. </td>
          </tr>
        </tbody>
        <br>
      </table>
    </div>
    <div class="col-md-6 col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Instrucciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Es un juego de preguntas con opción de verdadero y falso.</td>
          </tr>
          <tr>
            <td>
              <div class="img">
                <img src="../../../assets/img/BotonV.png">
                <img src="../../../assets/img/BotonF.png">
              </div>
            </td>
          </tr>
          <tr>
            <td>Pincha con el ratón  la respuesta que consideres la correcta.</td>
          </tr>
          <tr>
            <td>Si fallas perderás vidas y el virus ganará</td>
          </tr>
        </tbody>
      </table>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">Nombre</span>
        </div>
        <input type="text" class="form-control" placeholder="ej: Camil@" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      <br>
      <button type="button" class="btn " data-toggle="button" aria-pressed="false">Comenzar</button>
    </div>
  </div>
</div>
<br>
