.img img {
  width: 100px;
  margin-left: 20px;
}

.table th {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #582999;
}

.table td {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #582999;
}

.btn {
  background-color: #582999;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.table {
  background-color: #E5E6FA;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #582999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #582999;
 opacity: 1 /* esto es porque Firefox le reduce la opacidad por defecto */;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #582999;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #582999;
}

.input-group-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #582999;
}

.btn-true, .btn-false {
  text-align: center;
  font-family: 'Roboto', sans-serif;;
  font-size: 12px;
  color: white;
}

.btn-true {
  background-color: #72BAEC;
  -webkit-border-bottom-left-radius: 250px;
  -moz-border-radius-bottomleft: 250px;
  border-bottom-left-radius: 143px;
}

.btn-false {
  background-color: #ec8213;
  -webkit-border-bottom-right-radius: 250px;
  -moz-border-radius-bottomright: 250px;
  border-bottom-right-radius: 143px;
}

.question-text {
  height: 300px;
  color: white;
  background-color: #582999;
  padding: 53px;
  font-size: 43px;
}

.btn-container {
  justify-content: space-between;
  padding: 0px;
}
