<!--<footer class="page-footer font-small mdb-color pt-4 divfooter" >
    <p class="text-center text-md-left">© 2020 Copyright:
      <a href="https://mdbootstrap.com/">
        <strong> Todos los derechos reservados Constanza, Yarimar, Marcela</strong>
      </a>
    </p>
  </footer>-->
<!-- Footer-->
<!--<footer class="page-footer font-small mdb-color pt-4 divfooter">
  <hr>
  <div class="row d-flex align-items-center">
    <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="https://mdbootstrap.com/">
            <strong> Todos los derechos reservados Constanza, Yarimar, Marcela</strong>
          </a>
        </p>
    </div>
  </div>
</footer>-->
<!--<div class="footer-copyright text-center py-3 divfooter">
  <p>© 2020 Copyright:
    <a href="https://mdbootstrap.com/">
      <strong> Todos los derechos reservados Constanza, Yarimar, Marcela</strong>
    </a>
  </p>
</div>-->
<!--<div class="container">-->
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <!--<div class="row">
    <div class="col-md-8 divfone">.col-md-8</div>
    <div class="col-6 col-md-4 divftwo">.col-6 .col-md-4</div>
</div>-->
<div class="footer-basic" style="background: linear-gradient(-996deg, #582999, #72BAEC);">
  <footer>
      <div class="social"></div>
      <ul class="list-inline">
          <li class="list-inline-item"></li>
          <li class="list-inline-item"></li>
          <li class="list-inline-item"></li>
          <li class="list-inline-item"></li>
          <li class="list-inline-item"></li>
      </ul>
      <p class="copyright">Company Name © 2020</p>
  </footer>
</div>
